.intro {
    background-image: linear-gradient(to bottom right, #DB86FD, #64D9FF);
    color: white;
    text-align: center;
    height: auto
}
img {
    width: 300px;
    height: 400px;
}
p {
    border: solid 2px #DB86FD;
    padding: 10px 10px;
    text-align: justify;
}
a, u {
    color: blue;
}
