.intro {
    background-image: linear-gradient(to bottom right, #C46DE7, #37C4F1);
    color: white;
    text-align: center;
    height: auto
}
img {
    width: 300px;
    height: 400px;
    border-radius: 10%;
    margin: auto;
}
p {
    border: solid 2px #C46DE7;
    padding: 10px 10px;
    text-align: justify;
}
a, u {
    color: blue;
}
iframe {
    width: 560px;
    height: 315px;
}
